<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Picks Optimizer</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
{% block body_content %}{% endblock %}
</body>
</html>