<section id="stock-pick">
    <label>
        Symbol:
        <input required type="text" name="symbol" placeholder="Symbol">
    </label>
    <label>
        Percentage:
        <input required type="text" name="percentage" placeholder="Percentage">
    </label>
    <button hx-get="{{ url_for('remove_pick') }}"
            hx-target="#stock-pick"
            hx-swap="delete">-</button>
</section>
