<div id="swappable-content"></div>
<form id="stock-group-form"
      method="post"
      action="/groups/add"
      hx-swap="outerHTML"
      hx-target="#swapable-content">
    <label>
        Name:
        <input required type="text" name="name" placeholder="Name">
    </label>
    {% include "partials/add_pick_section.j2" %}
    <div>
        <button hx-get="/groups/cancel_add" hx-target="#stock-group-form">Cancel</button>
        <button hx-get="/groups/add" hx-target="#stock-group-form">Submit</button>
    </div>
</form>
