<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stock Picks Optimizer</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
        <script src="{{ url_for('static', path='htmx.min.js') }}"></script>
    </head>
    <body>
        {% block body_content %}
        {% endblock body_content %}
    </body>
</html>
